/ForceInjection/.vs/*
/ForceInjection/Debug/*
/ForceInjection/x64/*
/HookingLauncher/.vs/*
/HookingLauncher/HookingLauncher/bin/*
/HookingLauncherDLL/.vs/*
/HookingLauncherDLL/Debug/*
/HookingLauncherDLL/x64/*
/SimpleScreenCapture/.vs/*
/SimpleScreenCapture/Debug/*
/SimpleScreenCapture/x64/*
