/InjectorModule/.vs
/InjectorModule/Debug
/InjectorModule/x64
/CallbackModule/.vs
/CallbackModule/Debug
/CallbackModule/x64
/HookingLauncher/.vs
/HookingLauncher/HookingLauncher/bin
/HookingLauncherDLL/.vs
/HookingLauncherDLL/Debug
/HookingLauncherDLL/x64
/SimpleScreenCapture/.vs
/SimpleScreenCapture/Debug
/SimpleScreenCapture/x64
